extends ../basic.pug

block content
    .container
        h1.text-center Login
        form.border.border-success(action="/login",method="post")
            div.p-3
                label(for="") USERNAME
                input(type="text",class="form-control", style="width:400px;",name="username",value=username)
                label(for="") PASSWORD
                input(type="password",class="form-control", style="width:400px;", name="password",value=password)
                button.btn.btn-success Login
        h3.text-danger= errorMessage