extends ./basic.pug
block content
    .container
        table.table.table-striped.table-dark
                thead
                    tr
                    th First
                    th Last
                    th Handle
                tbody
                    tr
                    td Mark
                    td Otto
                    td @mdo
                    tr
                    td Jacob
                    td Thornton
                    td @fat
                    tr
                    td Larry
                    td the Bird
                    td @twitter